
services:
  # --- LỚP ỨNG DỤNG (Cầu nối) ---
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel-app
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www/html

    volumes:
      - ./storage:/var/www/html/storage 
    
    networks:
      - frontend_network
      - backend_network

    develop:
      watch:
        - path: ./composer.json
          action: rebuild
        - path: ./composer.lock
          action: rebuild
        - path: .
          target: /var/www/html
          action: sync
          ignore:
            - vendor/  
            - node_modules/

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "8000:80"         
    volumes:
      - ./public/:/var/www/html/public
      - ./nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - app
    networks:
      - frontend_network  

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel_db
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: 123123
      MYSQL_USER: user
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - backend_network 

  redis:
    image: redis:alpine
    container_name: laravel_redis
    networks:
      - backend_network

networks:
  frontend_network:
    driver: bridge
  backend_network:
    driver: bridge

volumes:
  dbdata: